<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- Remova o cabeçalho CSP -->
                <!-- <add name="Content-Security-Policy" value="..." /> -->
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3001/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="https://familyfriendsadmin.com" exactDestination="true" childOnly="true" />
    </system.webServer>
</configuration>
