/* Estilo para o modal */
.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

/* Estilo para a imagem no modal */
.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
}

/* Estilo para a pré-visualização da imagem */
.preview-container {
  text-align: center;
}

.preview-image {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}
